@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Moonrocks";
  src: url(./fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
