*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
  --loader-background: #005530;
  --background-color: linear-gradient(
    180deg,
    transparent 100vh,
    #ebaa4c 100vh,
    #ce735c,
    #955463,
    #543e50,
    #252525
  );
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  color: var(--text-color);
  background-image: var(--background-color);
  background-repeat: no-repeat;
}

main {
  max-width: 38rem;
  margin: auto;
}
