@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url(./fonts/Poppins/Poppins-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik Moonrocks";
  src: url(./fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  line-height: 1.5;
  color: white;
  background-color: #ff8527;
  padding: 10px;
}

header {
  background-color: rgba(75, 75, 75, 0.7);
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 10;
}
nav {
  display: flex;
  justify-content: space-between;
}

.section-card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 20px);
  background-color: rgb(33, 33, 33);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}

.hero-section {
  font-family: "Rubik Moonrocks";
  text-align: center;
}

.hebrew-welcome-text {
  font-size: 14rem;
  direction: rtl;
  text-align: center;
  line-height: 1;
  margin-top: 3rem;
  /* transform: translateX(10%); */
}

.subtitle {
  font-size: 3rem;
  text-align: center;
  /* transform: translate(3%, -50%); */
}

img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
}

.image-wrapper {
  position: relative;
}

.image-wrapper::after {
  content: "";
  border: 2px solid #f89e58;
  border-radius: 5px;
  top: 20px;
  left: 20px;
  z-index: -1;
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
}

.nav-link {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #ff8527;
  padding: 10px;
}

.nav-link:hover {
  font-weight: bold;
  transition: all 0.2s ease;
}
