@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  color: white;
  background-color: rgb(33, 33, 33);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 0 20px;
}

a {
  text-decoration: none;
  color: #f89e58;
}
