.menu-main {
  position: fixed;
  left: 0;
  top: 4em;
  background: #1a1a1a;
  height: 100vh;
  width: 100%;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-200%);
  transition: all 0.5s;
  padding-left: 0;
}

.menu-main ul {
  flex-direction: column;
  gap: 2em;
  height: 50%;
  align-items: center;
  padding: 0;
  margin-top: 4em;
}

.menu-main ul a {
  font-size: 1.3rem;
}

.menu-main--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}

.burger {
  display: block;
}

.burger--active {
  display: none;
}

.close--active {
  display: block;
}
